
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');
body {
  margin: 0;

}
@tailwind base;
@tailwind components;
@tailwind utilities;

.font1{
  font-family: 'Aguafina Script', cursive;
}
.font2{
  font-family: 'Cinzel', serif;
}
.font3{
  font-family: 'Inter', sans-serif;
}
.font4{
  font-family: 'Inter', sans-serif;
}